<div class="charm-main-page">

    <div class="main-page-link">
        <a href="/">Home </a>
        <a href="/watch-jewellery/jewellery">Jewellery </a>
        <p>WATCH PIN JEWELLERY</p>
    </div>


    <div class="advertesiment-page">
        <a href="#"> <img src="./assets/charm/images.png" alt="">
            <h1>Old is the new glod?</h1>
            <span>Big Glod Upgrade</span>
            <button mat-raised-button>Try now</button>
        </a>

    </div>

    <div class="watch-jewellery-page">
        <h1>WATCH PIN JEWELLERY</h1>
        <h2>20 Designs</h2>
    </div>

    <div class="all-card">

        <button mat-raised-button color="primary">All</button>
        <button>Try at Home</button>
        <button>Designs in store</button>
        <div class="space"></div>
        <button mat-raised-button color="primary">Pincode</button>
        <button mat-raised-button color="primary">Popular</button>

    </div>

    <div class="filter-page">
        <h1>FILTERED BY</h1>
        <a href="/watch-jewellery/jewellery">Watch Charm</a>
    </div>

    <div style="display: flex; width: 100%;">

        <div class="filter-sidenav-page">

            <h1>Filters</h1>

            <h2>Price</h2>
            <a href="#"><input type="checkbox"> Below &#x20b9; 10,000 (37)</a> <br>
            <a href="#"><input type="checkbox"> &#x20b9; 10,000 - &#x20b9; 20,000 (8)</a>

            <mat-divider></mat-divider>
            <h2>Type</h2>
            <a href="#"><input type="checkbox"> Watch Accessary (45)</a> <br>
            <a href="#"><input type="checkbox"> Mangalsutra (1)</a>

            <mat-divider></mat-divider>

            <h2>Metal</h2>
            <a href="#"><input type="checkbox"> Glod (28)</a> <br>
            <a href="#"><input type="checkbox"> Rose Glod (16)</a> <br>
            <a href="#"><input type="checkbox"> Plain Glod/Platinum (15)</a> <br>
            <a href="#"><input type="checkbox"> White Glod (1)</a>

            <mat-divider></mat-divider>
            <h2>Gender</h2>
            <a href="#"><input type="checkbox"> Unisex (43)</a> <br>
            <a href="#"><input type="checkbox"> Women (2)</a>
            <mat-divider></mat-divider>
            <h2>Glod Purity</h2>
            <a href="#"><input type="checkbox"> 18k (38)</a> <br>
            <a href="#"><input type="checkbox"> 22k (7)</a>


            <mat-divider></mat-divider>
            <h2>Stones</h2>
            <a href="#"><input type="checkbox"> Diamond (22)</a> <br>
            <a href="#"><input type="checkbox"> Diamond And Gemstone (3)</a> <br>
            <a href="#"><input type="checkbox"> Pearl (3)</a> <br>
            <a href="#"><input type="checkbox"> Gemstone (2)</a> <br>
            <a href="#"><input type="checkbox"> Ruby (2)</a> <br>
            <a href="#"><input type="checkbox"> Evil Eye (1)</a>
            <mat-divider></mat-divider>
            <h2>Occassion</h2>
            <a href="#"><input type="checkbox"> Party (45)</a> <br>
            <a href="#"><input type="checkbox"> Weekend(45)</a> <br>
            <a href="#"><input type="checkbox"> Workewear (35)</a> <br>
            <a href="#"><input type="checkbox"> Akshaya Tritiya (15)</a> <br>
            <a href="#"><input type="checkbox"> Romance (12)</a> <br>
            <a href="#"><input type="checkbox"> Festive (6)</a>

            <mat-divider></mat-divider>
            <h2>#Of Stones</h2>
            <a href="#"><input type="checkbox">Single Stone (17) </a> <br>
            <a href="#"><input type="checkbox"> MultiStone (13)</a> <br>
            <a href="#"><input type="checkbox">Three Stone (5)</a>

            <mat-divider></mat-divider>
            <h2>Design</h2>
            <a href="#"><input type="checkbox"> Classic (16)</a> <br>
            <a href="#"><input type="checkbox"> Enamel (13)</a> <br>
            <a href="#"><input type="checkbox"> Fashion (13)</a> <br>
            <a href="#"><input type="checkbox"> Fusion (8)</a> <br>
            <a href="#"><input type="checkbox"> Butterfly (4)</a> <br>
            <a href="#"><input type="checkbox"> Floral (4)</a> <br>

            <mat-divider></mat-divider>
            <h2>Stone Color</h2>
            <a href="#"><input type="checkbox"> White (27)</a> <br>
            <a href="#"><input type="checkbox">Red (2)</a> <br>
            <a href="#"><input type="checkbox">Bule (1)</a>

            <mat-divider></mat-divider>
            <h2>Stone Shape</h2>
            <a href="#"><input type="checkbox"> Pear (2)</a> <br>
            <a href="#"><input type="checkbox"> Button (1)</a> <br>
            <a href="#"><input type="checkbox"> Cabochon (1)</a> <br>
            <a href="#"><input type="checkbox"> Round (1)</a> <br>

            <mat-divider></mat-divider>
            <h2>Collections</h2>
            <a href="#"><input type="checkbox"> Ashta Collection (1)</a> <br>
            <a href="#"><input type="checkbox"> Evil Eye Collection (3)</a> <br>
            <a href="#"><input type="checkbox">Onella Collection (1)</a> <br>
            <a href="#"><input type="checkbox">Pliqa A Jour Collection (1)</a> <br>
            <a href="#"><input type="checkbox">Pochette Collection (1)</a> <br>
            <a href="#"><input type="checkbox">Pokemon</a>


        </div>



        <div class="product-card-page">


            <div class="product-card1">

                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>

                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>

                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>

                </a>


                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>
                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>
                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>
                </a>


                <div class="couple-page">
                    <a href="#">
                        <img src="./assets/images/couple.png" alt="">


                        <span>Evil Eye</span>
                        <p>Eyes on me, bad vibes flee</p>

                    </a>
                </div>
            </div>

            <div class="product-card2">


                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay-page" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>

                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>

                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>

                </a>


                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay-page" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>
                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>
                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>
                </a>

                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay-page" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>
                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>
                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>
                </a>



            </div>

            <div class="store-pusha-page">

                <div class="pusa-content-page">
                    <h1>Our store is now in New Delhi</h1>
                    <span>Pusa Road, New Delhi</span> <br>
                    <button> <a href="#">Get Direction</a> </button>
                </div>

                <img src="./assets/charm/our-store.png" alt="">


            </div>




            <div class="product-card3">


                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay-page" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>

                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>

                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>

                </a>


                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay-page" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>
                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>
                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>
                </a>

                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay-page" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>
                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>
                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>
                </a>



            </div>



            <div class="product-card4">


                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay-page" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>

                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>

                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>

                </a>


                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay-page" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>
                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>
                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>
                </a>

                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay-page" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>
                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>
                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>
                </a>



            </div>




            <div class="product-card5">


                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay-page" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>

                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>

                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>

                </a>


                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay-page" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>
                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>
                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>
                </a>

                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay-page" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>
                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>
                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>
                </a>



            </div>



            <div class="product-card6">


                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay-page" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>

                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>

                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>

                </a>


                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay-page" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>
                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>
                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>
                </a>

                <a href="#" class="container-page">
                    <div class="cart-page-top">Upto 20% off on Cart</div>
                    <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                        <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                        <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                    </div>
                    <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                    <div class="overlay">
                        <video class="video-overlay-page" autoplay loop muted>
                            <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                        </video>
                        <div class="overlay-button-page">
                            <a href="#" class="btn1-over">Try At Home for Free</a>
                            <a href="#" class="btn2-over">Video Call <mat-icon
                                    style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                        </div>
                    </div>
                    <div class="price-page">
                        <h1>The Lovely Heart Watch Charm</h1>
                        <h2> &#x20b9; 8,687</h2>
                    </div>
                </a>



            </div>

          <div class="product-card7">
            <a href="#" class="container-page">
                <div class="cart-page-top">Upto 20% off on Cart</div>
                <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                    <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                    <button style="margin-left: 180px; border-radius: 50%;"><mat-icon>play_arrow</mat-icon></button>
                </div>
                <img src="./assets/customer/images (5).jpg" alt="" style="position: relative;" class="images">
                <div class="overlay">
                    <video class="video-overlay-page" autoplay loop muted>
                        <source src="./assets/charm/BIPO0770U23-VIDEO-55176.mp4" type="video/mp4">
                    </video>
                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>
                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>
            </a>

          </div>



        </div>