.login-page {
    background-color: #fff;
    width: 450px;
    border: 1px solid rgb(18, 18, 66);
    margin: 30px;
    border-radius: 10px;
  //  margin-left: 15rem;
  
}

.login-page h1 {
    border: 1px solid rgb(18, 18, 66);
    background-color: rgb(18, 18, 66);
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
}


.login-page input {
    padding: 10px 240px 10px 10px;
    margin-left: 10px;
}

.password-input{
    margin-top: 20px;
}


.login-cancel-button{
    padding: 10px;
}
.login-cancel-button .btn-submit{
    padding: 10px 100px 10px 150px;
    color: #fff;
    background-color: red;
    border: 1px solid red;
}
.login-cancel-button .btn-cancel{
  margin-left: 10px;
  padding: 10px 40px 10px 40px;
}

.signup-page {
    margin-left: 210px;
    padding-top: 10px;
    color: blue;
}

.btn-signup:hover {
    text-decoration: underline;
}

.login-facebook-buttons {
    padding: 30px;
}

.login-facebook-buttons .btn2 {
    margin-left: 100px;
}

.input ,.checkbox{
    margin-top: 20px;
}

.account{
    margin-top: 20px;
    padding: 10px 130px 10px 200px;
    margin-left: 10px;
    background-color: red;
    color: #fff;
    border: 1px solid red;
    text-align: center;
}
.close-btn{
   margin-left: 28rem;
    margin-top: 30px;
}