<div class="recently-page">

   <div class="recently-viewed-page">
    <h1>Recently Viewed Designs</h1>
    <h2> | 8 Designs</h2>

   </div>


   <div class="categories-card">
    <h1>Categories</h1>
    <div class="categories-card-buttons">
        <button mat-raised-button class="btn" ><a href="#">All</a></button>
        <button mat-raised-button ><a href="#">Bangles</a></button>
        <button mat-raised-button ><a href="#">Mangalsutra</a></button>
        <button mat-raised-button ><a href="#">PreSet Solitaire Rings</a></button>
        <button mat-raised-button ><a href="#">Rings</a></button>
        <button mat-raised-button ><a href="#">Watch Accessory</a></button>

    </div>
   </div>


   <div class="product-card-page">


    <div class="product-card1">

        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a routerLink="/watch-jewellery/product-details" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>




        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>


        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a routerLink="/watch-jewellery/product-details" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>
    </div>

    <div class="product-card2">



        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>



        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>


        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>


    </div>

    <div class="store-pusha-page">

        <div class="pusa-content-page">
            <h1>Our store is now in New Delhi</h1>
            <span>Pusa Road, New Delhi</span> <br>
            <button> <a href="#">Get Direction</a> </button>
        </div>

        <img src="./assets/charm/our-store.png" alt="">


    </div>




    <div class="product-card3">



        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>



        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>


        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>



    </div>



    <div class="product-card4">



        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>


        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>

        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>


    </div>




    <div class="product-card5">



        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>



        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>


        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>



    </div>



    <div class="product-card6">



        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>



        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>


        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>



    </div>

    <div class="product-card7">


        <div>
            <div class="cart-page-top">Upto 20% off on Cart</div>
            <div style="display: flex; margin-top: 20px; position: absolute; z-index: 100;">
                <mat-icon style="margin-left: 20px;">favorite_border</mat-icon>
                <button class="product-card-button"
                    (click)="openDialog()"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <a href="#" class="container-page">


                <img src="./assets/band/images.png" alt="" style="position: relative;" class="images">
                <div class="overlay" style="margin-top: -160px;">
                    <video class="video-overlay" autoplay loop muted>
                        <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                    </video>

                    <div class="overlay-button-page">
                        <a href="#" class="btn1-over">Try At Home for Free</a>
                        <a href="#" class="btn2-over">Video Call <mat-icon
                                style="color: rgb(60, 240, 60);">videocam</mat-icon></a>
                    </div>
                </div>

                <div class="price-page">
                    <h1>The Lovely Heart Watch Charm</h1>
                    <h2> &#x20b9; 8,687</h2>
                </div>

            </a>
        </div>

    </div>



</div>

</div>
