<div class="plan-main-page">

    <div class="plan-page">

        <div class="plan-image">
            <img src="./assets/monthly-plan/img.png" alt="">
            <div>
                <h1>Glod Mine</h1>
                <h2>10+1 Monthly Installement Plan</h2>
                <p>Pay 10 installement, get 100% off on 11th installement!</p>
                <span>*Redeemable from 6th month</span>
            </div>

        </div>


        <div class="installement-form-page" style="margin-left: 200px;">
            <span>You are eligible for additional 25% DISCOUNT on your first installment</span>
            <div>
                <input type="text" placeholder="Enter Monthly Amount">
                <input type="email" placeholder="Enter Email address">
                <button mat-raised-button>STAR NOW</button>
            </div>
            <p>Want to pay your Gold Mine Installment? <a href="#">Click to Pay</a></p>

        </div>


    </div>

    <div class="why-gold">
        <h1>Why Gold Mine Plan?</h1>

        <div class="why-glod-agliment">

            <div class="why-glod-box-page">
                <img src="./assets/monthly-plan/stickers (3).png" alt="">
                <div>
                    <h1>Plan Ahead</h1>
                    <p>Subscribe to plan for your
                        future high value purchases</p>
                </div>
            </div>
            <div class="why-glod-box-page">
                <img src="./assets/monthly-plan/stickers (1).png" alt="">
                <div>
                    <h1>For Special Moments</h1>
                    <p>Plan for gifting on special
                        occasions like Birthdays, Weddings etc</p>
                </div>
            </div>
            <div class="why-glod-box-page">
                <img src="./assets/monthly-plan/stickers (2).png" alt="">
                <div>
                    <h1>Special Discounts</h1>
                    <p>Pay 10 installments & get 100%
                        discount on the 11th installment</p>
                </div>
            </div>



        </div>
    </div>




    <div class="circle-page">
        <h1>How does it work?</h1>
        <div class="container">

            <div class="steps-circle">
                <h2>3 easy steps</h2>
                <p>to purchase the jewellery your heart desires</p>

            </div>

            <div class="steps">
                <div class="step">
                    <div style="border-top: 2px dashed #f28b9c; width: 200px;"></div>
                    <div class="icon">📅</div>
                    <div class="text">
                        <h3>Pay Monthly</h3>
                        <p>10 monthly installments with easy payment options</p>
                    </div>
                </div>
                <div class="step">
                    <div style="border-top: 2px dashed #f28b9c; width: 200px;"></div>
                    <div class="icon">🛒</div>
                    <div class="text">
                        <h3>Get Special Discounts</h3>
                        <p>Get 25% off on the first month and 100% off the 11th month</p>
                    </div>
                </div>
                <div class="step">
                    <div style="border-top: 2px dashed #f28b9c; width: 200px;"></div>
                    <div class="icon">🎁</div>
                    <div class="text">
                        <h3>Happy Shopping!</h3>
                        <p>Use the auto-redeemed voucher provided on the 11th installment</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="refer-page-button">Refer to the calculator below for details.</div>
    </div>



    <div class="glod-min-calculator">
        <h1>Gold Mine Calculator</h1>

        <div class="glod-calculator-page">

            <div class="calculator-page-left">
                <span>Slide or enter monthly installment amount</span>
                <input type="text" placeholder="Monthly Amount">
                <button mat-raised-button color="warn">Check</button>
                <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>

                <div class="pie-chart">
                    <canvasjs-chart [options]="chartOptions" [styles]="{width: '30%', height:'260px'}"></canvasjs-chart>
                </div>
            </div>


            <div class="calculator-page-right">
                <ul>
                    <li> Your total payment    &#x20b9; 20,000 (Period of 10 months) &#x20b9; 19,500</li>
                         
                    
                    <li >Special Discount on 1st installment &#x20b9; 500
                        (25% off on 1st Installment)
                    </li>
                  
                    <li>
                       100% Discount on 11th installment &#x20b9; 2,000
                       (100% of 1 month installment value)
                    </li>
                    
                </ul>
                <hr>
                <div style="display: flex; justify-content: space-around;">
                    <h4>Buy any <br>
                        jewellery worth: <br>
                        (after 11th month) <br>
                    </h4>
                    <h4> &#x20b9; 22,000</h4>
                </div>

                <div style="display: flex; justify-content: space-around;">
                    <h4>You effectively pay <br>
                        11.36% discount!</h4>
                    <h4>&#x20b9; 19,500</h4>
                </div>
                <span>Early Redemption</span>
                <div style="display: flex; justify-content: space-around;">
                    <button>6th Month &#x20b9; 10,500</button>
                    <button>8th Month &#x20b9; 15,000</button>
                </div>
            </div>

        </div>

    </div>


<span class="jewellery-purchase">If jewellery is more than &#x20b9; 22,000, you just need to pay the difference amount at the time of purchase</span>


<div class="note-page">
<h1>Note:</h1>
<p>The subscription amount and benefits can be used towards the purchase of <br>
    either diamond/gemstone studded jewellery or plain gold jewellery.</p>
    <div class="find-answer-page">Find answers to all your queries here</div>
    <div class="faq-page" style="margin-top: 50px;">
        <a href="#">View all FAQ >> </a> |
        <a href="#">View all Terms & Conditions >></a>
    </div>
</div>





</div>