<!---

<mat-toolbar class="toolbar-page">
    <div class="logo-page">
        <a href="#"> <img src="./assets/images/logo.png" alt=""></a>
        <input type="search" placeholder="Search for jewellery">
    </div>
    <div class="login-page">
        <mat-icon> call</mat-icon>
        <h2>9177976407</h2>
        <a href="#">
            |  <h2>Try at Home</h2> |
        </a>
        <a href="#">
            <h2>Video Call Cart</h2> |
        </a>
        <a href="#">
            <h2>Login</h2> |
        </a>
        <a href="#">
            <h2>Signup</h2>
        </a>
    </div>
    <div class="locate-page">
        <a href="#"> <mat-icon>schedule</mat-icon>
            <h1>Recently Viewed</h1> |
        </a>
        <a href="#"> <mat-icon>room</mat-icon>
            <h1> Locate Our Store </h1> |
        </a>
        <a href="#"> <mat-icon>favorite_border</mat-icon> |</a>
        <a href="#"><mat-icon>add_shopping_cart</mat-icon></a>
    </div>
</mat-toolbar>

<div class="header-page-min">
    <a href="#">
        <h3>10+1 Monthly plan</h3>
    </a>
    <div class="dropdown">
        <h1 class="dropbtn">Watch jewellery</h1>
        <div class="dropdown-content">
            <a href="#">Charm</a>
            <a href="#">Band</a>
            <a href="#">Pin</a>
        </div>
    </div>


    <div class="dropdown-rings">
        <h3 class="dropbtn-rings">Rings</h3>
        <div class="dropdown-content-rings">
            <div class="rings-page-heading">
                <h1>Popular Rings Types</h1>
                <h1>By Price Range</h1>
                <h1>By Metals & Stones</h1>
                <a href="#">VIEW ALL</a>
            </div>
            <hr>
            <div class="rings-card">
                <div class="popular-rings">
                    <a href="#">Engagement</a>
                    <a href="#">Couple Bands</a>
                    <a href="#">Office Wear</a>
                    <a href="#">Stackable</a>
                    <a href="#">Slider</a>
                    <a href="#">Religious</a>
                    <a href="#">Platinum Bands</a>
                    <a href="#">For Men</a>
                    <a href="#">For Gift</a>
                </div>
                <div class="popular-rings">
                    <a href="#">Diamond</a>
                    <a href="#">Plain Gold</a>
                    <a href="#">Gemstone</a>
                    <a href="#"> Solitaire</a>
                    <a href="#">Cocktail</a>
                    <a href="#">Multi-finger</a>
                    <a href="#">Navaratna</a>
                    <a href="#">Pearl</a>
                </div>

                <div class="rings-card">
                    <div class="price-range">
                        <a href="#"> Below 15.000</a>
                        <a href="#">Between 15k-20k</a>
                        <a href="#">Between 20k-30k</a>
                        <a href="#">Between 30k-50k</a>
                        <a href="#">50,000 and above</a>

                    </div>
                </div>

                <div class="rings-card">
                    <div class="stone-page">
                        <a href="#"> Diamond Rings Starting at Rs. 7,400/-</a>
                        <a href="#">Gold Rings Starting at Rs. 6.300/-</a>
                        <a href="#">White Gold Rings Starting at Rs. 8.900/-</a>
                        <a href="#">Rose Gold Rings Starting at Rs. 10,000/-</a>
                        <a href="#">Platinum Rings Starting at Rs. 23,200/-</a>
                        <a href="#">Buy Solitaire Rings Starting at Rs. 30.000/-</a>

                    </div>
                    <div class="view-all-page">
                        <a href="#">
                            <img src="./assets/images/images.jpg" alt="" width="50%">
                            <div class="livana-love">
                                <h1>Liviana</h1>
                                <p>Stacks of Love</p>
                            </div>
                        </a>

                    </div>

                </div>

            </div>


        </div>

    </div>


    <div class="dropdown-rings">
        <h3 class="dropbtn-rings"> Earrings</h3>
        <div class="dropdown-content-rings">
            <div class="rings-page-heading">
                <h1> Popular Earring Types</h1>
                <h1>By Price Range</h1>
                <h1>By Metals & Stones</h1>
                <a href="#">VIEW ALL</a>
            </div>
            <hr>
            <div class="rings-card">
                <div class="popular-rings">
                    <a href="#">Studs</a>
                    <a href="#">Drops</a>
                    <a href="#">Sui Dhaga</a>
                    <a href="#">Jhumkas</a>
                    <a href="#">Chandbali</a>
                    <a href="#">Front Back</a>
                    <a href="#">Ear Cuffs</a>
                    <a href="#">Danglers</a>
                    <a href="#">Navaratna Earrings</a>
                    <a href="#">Mismatch Earrings</a>
                </div>
                <div class="popular-rings">
                    <a href="#">Hoops</a>
                    <a href="#">Multi Pierced</a>
                    <a href="#">Pearl</a>
                    <a href="#"> Plain Gold</a>
                    <a href="#">Diamond</a>
                    <a href="#">Gemstone</a>
                    <a href="#">For Kids</a>
                    <a href="#">For Men</a>
                    <a href="#">For Gift</a>
                </div>

                <div class="rings-card">
                    <div class="price-range">
                        <a href="#"> Below 10.000</a>
                        <a href="#">Between 10k-20k</a>
                        <a href="#">Between 20k-30k</a>
                        <a href="#">Between 30k-50k</a>
                        <a href="#">50,000 and above</a>

                    </div>
                </div>

                <div class="rings-card">
                    <div class="stone-page">
                        <a href="#"> Diamond Earrings Starting at Rs. 5,000/-</a>
                        <a href="#">Gold Earrings Starting at Rs. 3,300/-</a>
                        <a href="#">White Gold Earrings Starting at Rs. 6,000/-</a>
                        <a href="#">Rose Gold Earrings Starting at Rs. 6,150/-</a>
                        <a href="#">Gemstone Earrings Starting at Rs. 4,000/-</a>
                        <a href="#">Buy Solitaire Earrings Starting at Rs. 45,000/-</a>

                    </div>
                    <div class="view-all-page">
                        <a href="#">
                            <div class="livana-love">
                                <h1>Bluestone</h1>
                                <p>For Darlings</p>
                            </div>
                            <img src="./assets/images/images (1).png" alt="" width="50%">
                        </a>

                    </div>

                </div>

            </div>


        </div>

    </div>


    <div class="dropdown-rings">
        <h3 class="dropbtn-rings">Pendants</h3>
        <div class="dropdown-content-rings">

            <div class="rings-page-heading">
                <h1> Popular Pendant Types</h1>
                <h1>By Price Range</h1>
                <h1>By Metals & Stones</h1>
                <a href="#">VIEW ALL</a>
            </div>
            <hr>
            <div class="rings-card">
                <div class="popular-rings">
                    <a href="#">Alphabet</a>
                    <a href="#">Religious</a>
                    <a href="#">Fashion</a>
                    <a href="#">Heart Shaped</a>
                    <a href="#">Lockets</a>
                    <a href="#">Office Wear</a>
                    <a href="#">Zodiac</a>
                    <a href="#"> Navaratna</a>
                </div>
                <div class="popular-rings">
                    <a href="#">Diamond</a>
                    <a href="#">Pearl</a>
                    <a href="#"> Gemstone</a>
                    <a href="#"> Plain Gold</a>
                    <a href="#"> For Men</a>
                    <a href="#"> For Kids</a>
                    <a href="#"> For Gift
                    </a>
                </div>

                <div class="rings-card">
                    <div class="price-range">
                        <a href="#"> Below 10,000</a>
                        <a href="#"> Between 10k-15k</a>
                        <a href="#"> Between 15k-20k</a>
                        <a href="#"> Between 20k-30k</a>
                        <a href="#"> 25,000 and above</a>

                    </div>
                </div>

                <div class="rings-card">
                    <div class="stone-page">
                        <a href="#"> Diamond Pendants Starting at Rs. 4,400/-</a>
                        <a href="#"> Gold Pendants Starting at Rs. 3,000/-</a>
                        <a href="#"> White Gold Pendants Starting at Rs. 4,150/-</a>
                        <a href="#"> Rose Gold Pendants Starting at Rs. 4,300/-</a>
                        <a href="#"> Gemstone Pendants Starting at Rs. 4,700/-</a>
                        <a href="#">Buy Solitaire Pendants Starting at Rs. 40,000/-</a>

                    </div>
                    <div class="view-all-page">
                        <a href="#">
                            <img src="./assets/images/images (3).jpg" alt="" width="50%">
                            <div class="livana-love">
                                <h1>Liviana</h1>
                                <p>Stacks of Love</p>
                            </div>
                        </a>

                    </div>

                </div>

            </div>


        </div>

    </div>



    <div class="dropdown-rings">
        <h3 class="dropbtn-rings">All jewellery</h3>
        <div class="dropdown-content-rings">
            <div class="rings-page-heading">

                <a href="#">Shop By Category</a>
                <a href="#">Men's Jewellery</a>
                <a href="#">Gold Jewellery</a>
                <a href="#">Diamond Jewellery</a>

            </div>
            <hr>
            <div class="rings-card">
                <div class="popular-rings">
                    <a href="#">Bangles</a>
                    <a href="#">Bracelets</a>
                    <a href="#">Earrings</a>
                    <a href="#"> Gold Chains</a>
                    <a href="#"> Gold Coins</a>
                    <a href="#">Kadas</a>
                    <a href="#"> Mangalsutras</a>
                    <a href="#"> Mangalsutra Bracelets</a>
                    <a href="#"> Mangalsutra Chains</a>
                    <a href="#"> Necklaces</a>
                    <a href="#"> Nose Pins</a>
                    <a href="#"> Nose Screws</a>
                    <a href="#"> Pendants</a>
                    <a href="#"> Rings</a>
                    <a href="#"> Charms</a>

                </div>

                <div class="rings-card">
                    <div class="price-range">
                        <div style="display: flex;">
                            <div>
                                <a href="#">Bracelets</a>
                                <a href="#">Kadas</a>
                                <a href="#"> Rings</a>
                                <a href="#">Chains</a>
                            </div>
                            <div>

                                <a href="#">Studs</a>
                                <a href="#">Pendants</a>
                                <a href="#"> Cufflinks</a>

                            </div>
                        </div>

                        <div>
                            <a href="#" style="color: green; font-size: 16px;">Kids's Jewellery</a>

                            <div style="display: flex;">
                                <div>
                                    <a href="#">Earrings</a>
                                    <a href="#"> Necklaces</a>
                                    <a href="#">Nazariyas</a>
                                </div>
                                <div>
                                    <a href="#"> Pendants</a>
                                    <a href="#">Bracelets</a>
                                </div>
                            </div>
                        </div>


                        <div>
                            <a href="#" style="color: green; font-size: 16px;">Platinum Jewellery</a>
                            <div style="display: flex;">

                                <div>
                                    <a href="#"> Rings</a>
                                    <a href="#"> Pendants</a>
                                </div>
                                <div>

                                    <a href="#">Earrings</a>
                                    <a href="#">Chains</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="rings-card">
                    <div class="stone-page">
                        <a href="#">Bangles</a>
                        <a href="#">Bracelets</a>
                        <a href="#">Chains</a>
                        <a href="#">Earrings</a>
                        <a href="#"> Mangalsutras</a>
                        <a href="#"> Necklaces</a>
                        <a href="#"> Nose Pins</a>
                        <a href="#"> Pendants</a>
                        <a href="#"> Rings</a>

                        <div>
                            <a href="#">
                                <h1>Gemstone Jewellery</h1>
                            </a>
                            <a href="#">Rings</a>
                            <a href="#">Earring</a>

                        </div>
                    </div>
                    <div class="view-all-page">
                        <a href="#">Bangles</a>
                        <a href="#">Bracelets</a>
                        <a href="#">Cufflinks</a>
                        <a href="#">Earrings</a>
                        <a href="#"> Mangalsutras</a>
                        <a href="#"> Necklaces</a>
                        <a href="#"> Nose Pins</a>
                        <a href="#"> Pendants</a>
                        <a href="#"> Rings</a>

                        <div>
                            <a href="#">
                                <h1>Pearl Jewellery</h1>
                            </a>
                            <a href="#">Earring</a>
                            <a href="#">Necklaces</a>
                        </div>
                    </div>

                </div>

            </div>


        </div>

    </div>



    <div class="dropdown-rings">
        <h3 class="dropbtn-rings">Gifts</h3>
        <div class="dropdown-content-rings">
            <div class="rings-page-heading">
                <h1> Gifts By Occasion</h1>
                <h1>By Price Range</h1>
                <h1>Gifts For Special Someone</h1>
                <a href="#">VIEW ALL</a>
            </div>
            <hr>
            <div class="rings-card">
                <div class="popular-rings">
                    <a href="#"> Anniversary</a>
                    <a href="#"> Birthday</a>
                    <a href="#"> Engagement</a>
                    <a href="#"> Wedding</a>

                </div>


                <div class="rings-card">
                    <div class="price-range">
                        <a href="#"> Below 5,000</a>
                        <a href="#">Between 5k-10k</a>
                        <a href="#">Between 10k-20k</a>
                        <a href="#">Between 20k-30k</a>
                        <a href="#">30,000 and above</a> <br> <br>
                        <a href="#" style="color: red;">Gifts with Offers</a>

                    </div>
                </div>

                <div class="rings-card">
                    <div class="stone-page">
                        <a href="#"> For HER Starting at Rs. 2,861/-</a>
                        <a href="#">For HIM Starting at Rs. 5,820/-</a>
                        <a href="#"> For SISTER Starting at Rs. 5,746/-</a>
                        <a href="#"> For BROTHER Starting at Rs. 5,820/-</a>
                        <a href="#"> For MOTHER Starting at Rs. 5,805/-</a>
                        <a href="#"> For FATHER Starting at Rs. 5,820/-</a>
                        <a href="#"> For FRIENDS Starting at Rs. 4.221/-</a>

                    </div>
                    <div class="view-all-page">
                        <a href="#">
                            <img src="./assets/images/images (2).jpg" alt="" width="100%">
                           
                        </a>

                    </div>

                </div>

            </div>


        </div>

    </div>


    <div class="dropdown-gold-coin">
        <h3 class="dropbtn-glod-coin">Gold Coins</h3>
        <div class="dropdown-content-glod-coin">
            <div class="glod-header-page">
                <h1>24 Kt (995)</h1>
                <h1>22 Kt (916)</h1>
            </div>
            <div class="glod-card">
                <div class="popular-glod">
                    <a href="#">0.5 gram</a>
                    <a href="#">1 gram</a>
                    <a href="#">2 gram</a>
                    <a href="#">5 gram</a>
                    <a href="#">10 gram</a>
                    <a href="#">20 gram</a>
                    <a href="#">50 gram</a>
                </div>
                <div class="popular-glods">
                    <a href="#">1 gram</a>
                    <a href="#">2 gram</a>
                    <a href="#">5 gram</a>
                    <a href="#">10 gram</a>
                    <a href="#">20 gram</a>
                    <a href="#">50 gram</a>
                </div>


            </div>


        </div>

    </div>

    <div class="dropdown-offer">
        <h3 class="dropbtn-offer">Offers</h3>
        <div class="dropdown-content-offer">
            <a href="#">Additional 25% Off on your 1st installment on GMS/glodmine </a>
            <a href="#">Big Gold Upgrade</a>

        </div>

    </div>

</div>
-->




<mat-toolbar class="toolbar-page">
    <div class="logo-page">
        <a href="#"> <img src="./assets/images/logo.png" alt=""></a>
        <input type="search" placeholder="Search for jewellery">
    </div>
    <div class="login-page">
        <mat-icon> call</mat-icon>
        <h2>9177976407</h2>
        <a href="#">
            | <h2>Try at Home</h2> |
        </a>
        <a routerLink="/video-page">
            <h2>Video Call Cart</h2> |
        </a>
        <button mat-button color="primary" (click)="openLoginPageDailog()">Login </button>|
        <button mat-button color="primary" (click)="openSignupPageDailog()">Signup</button>
    </div>
    <div class="locate-page">
        <a routerLink="/recently-page"> <mat-icon>schedule</mat-icon>
            <h1>Recently Viewed</h1> |
        </a>
        <a routerLink="/location-page"> <mat-icon>room</mat-icon>
            <h1> Locate Our Store </h1> |
        </a>
        <a href="#"> <mat-icon>favorite_border</mat-icon> |</a>
        <a href="#"><mat-icon>add_shopping_cart</mat-icon></a>
    </div>
</mat-toolbar>




<div class="header-page-min" #header>
    <a routerLink="/plan-page">
        <h3>10+1 Monthly plan</h3>
    </a>
    <div class="dropdown">
        <h1 class="dropbtn">Watch jewellery</h1>
        <div class="dropdown-content">
            <a routerLink="/watch-jewellery/charm">Charm</a>
            <a routerLink="/watch-jewellery/band">Band</a>
            <a routerLink="/watch-jewellery/pin">Pin</a>
        </div>
    </div>


    <div class="dropdown-rings">
        <h3 class="dropbtn-rings">Rings</h3>
        <div class="dropdown-content-rings">
            <div class="rings-page-heading">
                <h1>Popular Rings Types</h1>
                <h1>By Price Range</h1>
                <h1>By Metals & Stones</h1>
                <a href="#">VIEW ALL</a>
            </div>
            <hr>
            <div class="rings-card">
                <div class="popular-rings">
                    <a href="#">Engagement</a>
                    <a href="#">Couple Bands</a>
                    <a href="#">Office Wear</a>
                    <a href="#">Stackable</a>
                    <a href="#">Slider</a>
                    <a href="#">Religious</a>
                    <a href="#">Platinum Bands</a>
                    <a href="#">For Men</a>
                    <a href="#">For Gift</a>
                </div>
                <div class="popular-rings">
                    <a href="#">Diamond</a>
                    <a href="#">Plain Gold</a>
                    <a href="#">Gemstone</a>
                    <a href="#"> Solitaire</a>
                    <a href="#">Cocktail</a>
                    <a href="#">Multi-finger</a>
                    <a href="#">Navaratna</a>
                    <a href="#">Pearl</a>
                </div>

                <div class="rings-card">
                    <div class="price-range">
                        <a href="#"> Below 15.000</a>
                        <a href="#">Between 15k-20k</a>
                        <a href="#">Between 20k-30k</a>
                        <a href="#">Between 30k-50k</a>
                        <a href="#">50,000 and above</a>

                    </div>
                </div>

                <div class="rings-card">
                    <div class="stone-page">
                        <a href="#"> Diamond Rings Starting at Rs. 7,400/-</a>
                        <a href="#">Gold Rings Starting at Rs. 6.300/-</a>
                        <a href="#">White Gold Rings Starting at Rs. 8.900/-</a>
                        <a href="#">Rose Gold Rings Starting at Rs. 10,000/-</a>
                        <a href="#">Platinum Rings Starting at Rs. 23,200/-</a>
                        <a href="#">Buy Solitaire Rings Starting at Rs. 30.000/-</a>

                    </div>
                    <div class="view-all-page">
                        <a href="#">
                            <img src="./assets/images/images.jpg" alt="" width="50%">
                            <div class="livana-love">
                                <h1>Liviana</h1>
                                <p>Stacks of Love</p>
                            </div>
                        </a>

                    </div>

                </div>

            </div>


        </div>

    </div>


    <div class="dropdown-rings">
        <h3 class="dropbtn-rings"> Earrings</h3>
        <div class="dropdown-content-rings">
            <div class="rings-page-heading">
                <h1> Popular Earring Types</h1>
                <h1>By Price Range</h1>
                <h1>By Metals & Stones</h1>
                <a href="#">VIEW ALL</a>
            </div>
            <hr>
            <div class="rings-card">
                <div class="popular-rings">
                    <a href="#">Studs</a>
                    <a href="#">Drops</a>
                    <a href="#">Sui Dhaga</a>
                    <a href="#">Jhumkas</a>
                    <a href="#">Chandbali</a>
                    <a href="#">Front Back</a>
                    <a href="#">Ear Cuffs</a>
                    <a href="#">Danglers</a>
                    <a href="#">Navaratna Earrings</a>
                    <a href="#">Mismatch Earrings</a>
                </div>
                <div class="popular-rings">
                    <a href="#">Hoops</a>
                    <a href="#">Multi Pierced</a>
                    <a href="#">Pearl</a>
                    <a href="#"> Plain Gold</a>
                    <a href="#">Diamond</a>
                    <a href="#">Gemstone</a>
                    <a href="#">For Kids</a>
                    <a href="#">For Men</a>
                    <a href="#">For Gift</a>
                </div>

                <div class="rings-card">
                    <div class="price-range">
                        <a href="#"> Below 10.000</a>
                        <a href="#">Between 10k-20k</a>
                        <a href="#">Between 20k-30k</a>
                        <a href="#">Between 30k-50k</a>
                        <a href="#">50,000 and above</a>

                    </div>
                </div>

                <div class="rings-card">
                    <div class="stone-page">
                        <a href="#"> Diamond Earrings Starting at Rs. 5,000/-</a>
                        <a href="#">Gold Earrings Starting at Rs. 3,300/-</a>
                        <a href="#">White Gold Earrings Starting at Rs. 6,000/-</a>
                        <a href="#">Rose Gold Earrings Starting at Rs. 6,150/-</a>
                        <a href="#">Gemstone Earrings Starting at Rs. 4,000/-</a>
                        <a href="#">Buy Solitaire Earrings Starting at Rs. 45,000/-</a>

                    </div>
                    <div class="view-all-page">
                        <a href="#">
                            <div class="livana-love">
                                <h1>Bluestone</h1>
                                <p>For Darlings</p>
                            </div>
                            <img src="./assets/images/images (1).png" alt="" width="50%">
                        </a>

                    </div>

                </div>

            </div>


        </div>

    </div>


    <div class="dropdown-rings">
        <h3 class="dropbtn-rings">Pendants</h3>
        <div class="dropdown-content-rings">

            <div class="rings-page-heading">
                <h1> Popular Pendant Types</h1>
                <h1>By Price Range</h1>
                <h1>By Metals & Stones</h1>
                <a href="#">VIEW ALL</a>
            </div>
            <hr>
            <div class="rings-card">
                <div class="popular-rings">
                    <a href="#">Alphabet</a>
                    <a href="#">Religious</a>
                    <a href="#">Fashion</a>
                    <a href="#">Heart Shaped</a>
                    <a href="#">Lockets</a>
                    <a href="#">Office Wear</a>
                    <a href="#">Zodiac</a>
                    <a href="#"> Navaratna</a>
                </div>
                <div class="popular-rings">
                    <a href="#">Diamond</a>
                    <a href="#">Pearl</a>
                    <a href="#"> Gemstone</a>
                    <a href="#"> Plain Gold</a>
                    <a href="#"> For Men</a>
                    <a href="#"> For Kids</a>
                    <a href="#"> For Gift
                    </a>
                </div>

                <div class="rings-card">
                    <div class="price-range">
                        <a href="#"> Below 10,000</a>
                        <a href="#"> Between 10k-15k</a>
                        <a href="#"> Between 15k-20k</a>
                        <a href="#"> Between 20k-30k</a>
                        <a href="#"> 25,000 and above</a>

                    </div>
                </div>

                <div class="rings-card">
                    <div class="stone-page">
                        <a href="#"> Diamond Pendants Starting at Rs. 4,400/-</a>
                        <a href="#"> Gold Pendants Starting at Rs. 3,000/-</a>
                        <a href="#"> White Gold Pendants Starting at Rs. 4,150/-</a>
                        <a href="#"> Rose Gold Pendants Starting at Rs. 4,300/-</a>
                        <a href="#"> Gemstone Pendants Starting at Rs. 4,700/-</a>
                        <a href="#">Buy Solitaire Pendants Starting at Rs. 40,000/-</a>

                    </div>
                    <div class="view-all-page">
                        <a href="#">
                            <img src="./assets/images/images (3).jpg" alt="" width="50%">
                            <div class="livana-love">
                                <h1>Liviana</h1>
                                <p>Stacks of Love</p>
                            </div>
                        </a>

                    </div>

                </div>

            </div>


        </div>

    </div>



    <div class="dropdown-rings">
        <h3 class="dropbtn-rings">All jewellery</h3>
        <div class="dropdown-content-rings">
            <div class="rings-page-heading">

                <a href="#">Shop By Category</a>
                <a href="#">Men's Jewellery</a>
                <a href="#">Gold Jewellery</a>
                <a href="#">Diamond Jewellery</a>

            </div>
            <hr>
            <div class="rings-card">
                <div class="popular-rings">
                    <a href="#">Bangles</a>
                    <a href="#">Bracelets</a>
                    <a href="#">Earrings</a>
                    <a href="#"> Gold Chains</a>
                    <a href="#"> Gold Coins</a>
                    <a href="#">Kadas</a>
                    <a href="#"> Mangalsutras</a>
                    <a href="#"> Mangalsutra Bracelets</a>
                    <a href="#"> Mangalsutra Chains</a>
                    <a href="#"> Necklaces</a>
                    <a href="#"> Nose Pins</a>
                    <a href="#"> Nose Screws</a>
                    <a href="#"> Pendants</a>
                    <a href="#"> Rings</a>
                    <a href="#"> Charms</a>

                </div>

                <div class="rings-card">
                    <div class="price-range">
                        <div style="display: flex;">
                            <div>
                                <a href="#">Bracelets</a>
                                <a href="#">Kadas</a>
                                <a href="#"> Rings</a>
                                <a href="#">Chains</a>
                            </div>
                            <div>

                                <a href="#">Studs</a>
                                <a href="#">Pendants</a>
                                <a href="#"> Cufflinks</a>

                            </div>
                        </div>

                        <div>
                            <a href="#" style="color: green; font-size: 16px;">Kids's Jewellery</a>

                            <div style="display: flex;">
                                <div>
                                    <a href="#">Earrings</a>
                                    <a href="#"> Necklaces</a>
                                    <a href="#">Nazariyas</a>
                                </div>
                                <div>
                                    <a href="#"> Pendants</a>
                                    <a href="#">Bracelets</a>
                                </div>
                            </div>
                        </div>


                        <div>
                            <a href="#" style="color: green; font-size: 16px;">Platinum Jewellery</a>
                            <div style="display: flex;">

                                <div>
                                    <a href="#"> Rings</a>
                                    <a href="#"> Pendants</a>
                                </div>
                                <div>

                                    <a href="#">Earrings</a>
                                    <a href="#">Chains</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="rings-card">
                    <div class="stone-page">
                        <a href="#">Bangles</a>
                        <a href="#">Bracelets</a>
                        <a href="#">Chains</a>
                        <a href="#">Earrings</a>
                        <a href="#"> Mangalsutras</a>
                        <a href="#"> Necklaces</a>
                        <a href="#"> Nose Pins</a>
                        <a href="#"> Pendants</a>
                        <a href="#"> Rings</a>

                        <div>
                            <a href="#">
                                <h1>Gemstone Jewellery</h1>
                            </a>
                            <a href="#">Rings</a>
                            <a href="#">Earring</a>

                        </div>
                    </div>
                    <div class="view-all-page">
                        <a href="#">Bangles</a>
                        <a href="#">Bracelets</a>
                        <a href="#">Cufflinks</a>
                        <a href="#">Earrings</a>
                        <a href="#"> Mangalsutras</a>
                        <a href="#"> Necklaces</a>
                        <a href="#"> Nose Pins</a>
                        <a href="#"> Pendants</a>
                        <a href="#"> Rings</a>

                        <div>
                            <a href="#">
                                <h1>Pearl Jewellery</h1>
                            </a>
                            <a href="#">Earring</a>
                            <a href="#">Necklaces</a>
                        </div>
                    </div>

                </div>

            </div>


        </div>

    </div>



    <div class="dropdown-rings">
        <h3 class="dropbtn-rings">Gifts</h3>
        <div class="dropdown-content-rings">
            <div class="rings-page-heading">
                <h1> Gifts By Occasion</h1>
                <h1>By Price Range</h1>
                <h1>Gifts For Special Someone</h1>
                <a href="#">VIEW ALL</a>
            </div>
            <hr>
            <div class="rings-card">
                <div class="popular-rings">
                    <a href="#"> Anniversary</a>
                    <a href="#"> Birthday</a>
                    <a href="#"> Engagement</a>
                    <a href="#"> Wedding</a>

                </div>


                <div class="rings-card">
                    <div class="price-range">
                        <a href="#"> Below 5,000</a>
                        <a href="#">Between 5k-10k</a>
                        <a href="#">Between 10k-20k</a>
                        <a href="#">Between 20k-30k</a>
                        <a href="#">30,000 and above</a> <br> <br>
                        <a href="#" style="color: red;">Gifts with Offers</a>

                    </div>
                </div>

                <div class="rings-card">
                    <div class="stone-page">
                        <a href="#"> For HER Starting at Rs. 2,861/-</a>
                        <a href="#">For HIM Starting at Rs. 5,820/-</a>
                        <a href="#"> For SISTER Starting at Rs. 5,746/-</a>
                        <a href="#"> For BROTHER Starting at Rs. 5,820/-</a>
                        <a href="#"> For MOTHER Starting at Rs. 5,805/-</a>
                        <a href="#"> For FATHER Starting at Rs. 5,820/-</a>
                        <a href="#"> For FRIENDS Starting at Rs. 4.221/-</a>

                    </div>
                    <div class="view-all-page">
                        <a href="#">
                            <img src="./assets/images/images (2).jpg" alt="" width="100%">

                        </a>

                    </div>

                </div>

            </div>


        </div>

    </div>


    <div class="dropdown-gold-coin">
        <h3 class="dropbtn-glod-coin">Gold Coins</h3>
        <div class="dropdown-content-glod-coin">
            <div class="glod-header-page">
                <h1>24 Kt (995)</h1>
                <h1>22 Kt (916)</h1>
            </div>
            <div class="glod-card">
                <div class="popular-glod">
                    <a href="#">0.5 gram</a>
                    <a href="#">1 gram</a>
                    <a href="#">2 gram</a>
                    <a href="#">5 gram</a>
                    <a href="#">10 gram</a>
                    <a href="#">20 gram</a>
                    <a href="#">50 gram</a>
                </div>
                <div class="popular-glods">
                    <a href="#">1 gram</a>
                    <a href="#">2 gram</a>
                    <a href="#">5 gram</a>
                    <a href="#">10 gram</a>
                    <a href="#">20 gram</a>
                    <a href="#">50 gram</a>
                </div>


            </div>


        </div>

    </div>

    <div class="dropdown-offer">
        <h3 class="dropbtn-offer">Offers</h3>
        <div class="dropdown-content-offer">
            <a href="#">Additional 25% Off on your 1st installment on GMS/glodmine </a>
            <a href="#">Big Gold Upgrade</a>

        </div>

    </div>

</div>