<div class="product-detais-page">


    <div class="page-links-card">
        <a href="/">Home</a>
        <a href="/watch-jewellery/jewellery">Jewellery</a>
        <a href="/watch-jewellery/charm">Watch Accessory</a>
        <p> THE CLOE MUTLIWEARABLE WATCH BAND</p>

    </div>

    <div style="display: flex;">

        <div class="icon-page-card">
            <mat-icon>favorite_border</mat-icon>
            <img src="./assets/band/images.png" alt="">


            <div class="product-page-button">
                <img src="./assets/band/images.png" alt="">
                <video controls>
                    <source src="./assets/band/BIPO0630U284-VIDEO-51670.mp4" type="video/mp4">
                </video>
                <img src="./assets/band/images__1 (1).png" alt="">
                <img src="./assets/band/images__1 (2).png" alt="">
                <img src="./assets/band/images__1 (3).png" alt="">
            </div>
            <div class="certified-company-page">
                <h1>Certified By</h1>
                <a href="#">BIS Hallmark</a>
                <a href="#">SGL</a>
                <a href="#">GSI</a>
            </div>

        </div>

        <div class="product-page-cole">
            <h1>The Cloe Mutliwearable Watch Band <br> &#x20b9; 17,242</h1>
            <p>MRP Incl. of all taxes</p>
            <h3><mat-icon>videocam</mat-icon> Schedule video call <a href="#">Book Now</a></h3>
            <div style="background-color: rgb(247, 247, 247); padding: 20px; line-height: 2.5;">
                Your pincode <input type="text" placeholder="Pincode">

                <button>Update</button>
                <p>Provide pincode for delivery date & nearby stores!</p>
            </div>
            <h5>Blue Evil Eye Watch Accessory In 18Kt Yellow Gold (1.892 gram)</h5>
            <mat-accordion>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Customize this product
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        Yellow
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="now-buy-button-page">
                <button class="btn1">Buy Now</button>
                <button class="btn2">10+1 Monthly Plan</button>
            </div>

            <hr>
            <div style=" display: flex;">

                <a href="#">30 Days Returnable</a>
                <a href="#"
                    style="margin-left: 30px; border-left: 1px solid rgb(110, 108, 108); padding-left: 10px;">Lifetime
                    Exchange & Buy-Back </a>
                <a href="#"
                    style="margin-left: 30px; border-left: 1px solid rgb(110, 108, 108); padding-left: 10px;">Certified
                    Jewellery</a>

            </div>
            <hr>
            <span style="margin-top: 20px;">Any Questions? Please feel free to reach us at: 18004190066</span>
        </div>


    </div>


</div>

<div class="similar-designs">
    <h1>Similar Designs</h1>

    <div class="design-product-page">
        <a href="#">
            <img src="./assets/band/images.png" alt="">
            <p>&#x20b9; 10,909</p>
        </a>


        <a href="#">
            <img src="./assets/band/images.png" alt="">
            <p>&#x20b9; 19,909</p>
        </a>


        <a href="#">
            <img src="./assets/band/images.png" alt="">
            <p>&#x20b9; 16,909</p>
        </a>


        <a href="#">
            <img src="./assets/band/images.png" alt="">
            <p>&#x20b9; 14,909</p>
        </a>

        <a href="#">   
            <img src="./assets/band/images.png" alt="">
            <p>&#x20b9; 12,909</p>
        </a>


        <a href="#">
            <img src="./assets/band/images.png" alt="">
            <p>&#x20b9; 9,909</p>
        </a>


        <a href="#">
            <img src="./assets/band/images.png" alt="">
            <p>&#x20b9; 18,909</p>
        </a>


        <a href="#">
            <img src="./assets/band/images.png" alt="">
            <p>&#x20b9; 22,909</p>
        </a>


        <a href="#">
            <img src="./assets/band/images.png" alt="">
            <p>&#x20b9; 25,909</p>
        </a>


        <a href="#">
            <img src="./assets/band/images.png" alt="">
            <p>&#x20b9; 7,909</p>
        </a>


        <a href="#">
            <img src="./assets/band/images.png" alt="">
            <p>&#x20b9; 11,909</p>
        </a>
    </div>

</div>


<div class="all-product-details-page">

    <div class="all-product-details-card">

        <div class="all-card">
            <h1>Product Details</h1>

            <div class="product-box1">
                <p>Product Code</p>
                <p> 080272-31637206</p>
            </div>
            <div class="product-box1">
                <p>Height </p>
                <p>3.8 mm</p>
            </div>
            <div class="product-box1">
                <p>Width </p>
                <p> 24.46 mm</p>
            </div>


        </div>

        <div>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Blue Evil Eye DETAILS
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="product-box1">
                        <p>
                            Count </p>
                        <p> 1</p>
                    </div>
                    <div class="product-box1">
                        <p>Shape</p>
                        <p> Round</p>
                    </div>
                    <div class="product-box1">
                        <p>Size</p>
                        <p>6.00 mm</p>
                    </div>
                    <div class="product-box1">
                        <p>Setting Type</p>
                        <p> Encase</p>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Metal Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="product-box1">
                        <p>Type</p>
                        <p> 18kt Glod</p>
                    </div>
                    <div class="product-box1">
                        <p>Weight</p>
                        <p>1.892 gram</p>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Price Breakup
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="product-box1">
                        <p>Glod</p>
                        <p>&#x20b9; 11,212/-</p>
                    </div>
                    <div class="product-box1">
                        <p>Blue Evil Eye</p>
                        <p>&#x20b9; 17,00/-</p>
                    </div>
                    <div class="product-box1">
                        <p>Making Charges</p>
                        <p>&#x20b9; 3,828/-</p>
                    </div>
                    <div class="product-box1">
                        <p>GST</p>
                        <p>&#x20b9; 502/-</p>
                    </div>
                    <div class="product-box1">
                        <p>Total</p>
                        <p>&#x20b9; 17,242/-</p>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Tags
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                </mat-expansion-panel>


            </mat-accordion>
        </div>


    </div>







    <div class="certified-authenticity-page">

        <div class="authenticity-box1">
            <h1>Bluestone Promise</h1>

            <div>
                <div style="display: flex;">
                    <a href="#" style="margin-left: 20px; text-decoration: none; color: orange;">30 Days Returnable</a>
                    <a href="#" style="margin-left: 20px;  text-decoration: none; color: orange;">Lifetime Exchange &
                        Buy-Back Policy</a>
                    <a href="#" style="margin-left: 50px;  text-decoration: none; color: orange;">Certified
                        Jewellery</a>
                </div>
                <div style="display: flex; justify-content: space-around; margin-top: 20px;">
                    <a href="#" style=" text-decoration: none; color: orange;">100% Refund</a>
                    <a href="#" style=" text-decoration: none; color: orange;">Free Shipping</a>
                    <a href="#" style=" text-decoration: none; color: orange;">Free Returns</a>
                </div>
            </div>
        </div>


        <div class="certified-authenticity-card">

            <h1>Certificate of Authenticity</h1>
            <p>Every piece of jewellery that we
                make is certified for authenticity by
                third-party international laboratories
                like SGL, IGI, BIS, GIA, and GSI.</p>

        </div>



    </div>



</div>



<div class="customer-speak-slide-page">
    <h1>Customer Speak</h1>
    <div class="carousel-container">
        <button mat-icon-button (click)="goToPrevious()" [disabled]="currentIndex === 0">
            <mat-icon>chevron_left</mat-icon>
        </button>


        <div>
            <img [src]="images[currentIndex]" alt="Carousel Image" class="carousel-image" />
            <p style="width: 500px;">{{content}}</p>
        </div>

        <button mat-icon-button (click)="goToNext()" [disabled]="currentIndex === images.length - 1">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>



<div class="manufacturer">

    <div class="manufacturer-card">
        <h4>Manufacturer</h4>
        <h3>BlueStone Jewellery and Lifestyle Limited
            302, Dhantak Plaza, Makwana Road, Marol, Mumbai-59</h3>
    </div>
    <hr>
    <div class="manufacturer-card">
        <h4>Country of Origin</h4>
        <h3>India</h3>
    </div>

</div>
<div style="margin-top: 30px;">

</div>