<div class="footer-page">



    <div class="footer-agliment-page">

        <h1> ABOUT US </h1>
        <ul> <a href="#">Who we are?</a></ul>
        <ul><a href="#">Management Team</a></ul>
        <ul><a href="#">Careers</a></ul>
        <ul><a href="#">Design Philosophy</a></ul>
        <ul>CUSTOMER DELIGHT</ul>
        <ul> <a href="#">Contact Us</a></ul>
        <ul><a href="#">FAQ</a></ul>
        <ul><a href="#">18004190066</a></ul>
        <ul>(9 am-10 pm, 7 days a week)</ul>

    </div>
    <div class="footer-agliment-page">
        <h1>
            POLICIES</h1>
        <ul><a href="">30-Day Returns</a></ul>
        <ul><a href="#">Lifetime Exchange & Buy back</a></ul>
        <ul><a href="#">Privacy Policy</a></ul>
        <ul><a href="#">Terms & Conditions</a></ul>
        <ul><a href="#">Fraud Warning Disclaimer</a></ul>
        <ul>SHOP WITH CONFIDENCE</ul>
        <ul><a href="#">Why Buy From Us?</a></ul>
        <ul><a href="#">Our Certifications</a></ul>
        <ul><a href="#">Press Room</a></ul>
        <ul><a href="#">Testimonials</a></ul>
        <ul><a href="#">Corporate Gifting</a></ul>
    </div>

    <div class="footer-agliment-page">
        <h1>JEWELLERY GUIDE</h1>
        <ul><a href="#">Buying and Price Guide</a></ul>
        <ul><a href="#">Certification Guide</a></ul>
        <ul><a href="#">Diamond and Solitaire Guide</a></ul>
        <ul><a href="#">Gemstone Guide</a></ul>
        <ul><a href="#">Gifting Guide</a></ul>
        <ul><a href="#">Jewellery Care Guide</a></ul>
    </div>

    <div class="app-store-page">
        <h1>Download
            Our App</h1>
        <ul>Shining new app,
            made just</ul>
        <ul>for you! It's Free,
            Easy & Smart.</ul>
        <ul><a href="#"><img src="./assets/footer-img/images (1).png" alt="" width="150px"></a></ul>
        <ul><a href="#"><img src="./assets/footer-img/images (3).png" alt="" width="150px"></a></ul>
        <div class="app-store-page-img">
            <a href="#"><img src="./assets/footer-img/images (2).png" alt=""></a>
        </div>
    </div>

</div>

<footer>
   <div>
    <input type="text" placeholder="Enter email for our newsletter">
    <button mat-raised-button>Subscribe</button>
   </div>
    <p>© 2024 BlueStone. All Rights Reserved.CIN: U72900KA2011PLC059678</p>
</footer>
