.charm-main-page {
    background-color: #fff;
    z-index: 1000;
}

.main-page-link {
    display: flex;
}

.main-page-link a,
p {
    text-decoration: none;
    font-size: 12px;
    padding: 40px;
}

.main-page-link a {
    color: rgb(160, 159, 159);
}

.advertesiment-page {
    background: linear-gradient(970deg, #fff 0%, rgb(253, 26, 26) 50%, rgb(12, 12, 12) 100%);
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.advertesiment-page a {
    display: flex;
    text-decoration: none;
    margin-left: 32rem;
}



.advertesiment-page h1 {
    font-size: 25px;
    color: #fff;

}

.advertesiment-page h5 {
    border-top: 1px solid #fff;
    font-size: 25px;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.advertesiment-page span {
    color: #fff;
    font-size: 70px;
    margin-left: 10px;

}

.advertesiment-page h2 {

    color: #fff;
    font-size: 16px;
    margin-left: 20px;

}

.watch-jewellery-page {
    display: flex;
    margin: 30px;
}

.watch-jewellery-page h1 {
    font-size: 22px;
    color: orangered;
    margin-left: 20px;
    text-transform: uppercase;
}

.watch-jewellery-page h2 {
    font-size: 16px;
    margin-left: 20px;
    color: rgb(177, 176, 176);
}

.all-card {
    background-color: pink;
    margin-top: 30px;
    display: flex;
}

.space {
    flex: 1 0 auto;
}

.all-card button {
    padding: 10px 30px 10px 40px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid rgb(139, 137, 137);
}

.filter-page {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}

.filter-page a {
    text-decoration: none;
    margin-left: 50px;
    border: 1px solid black;
    font-size: 16px;
    padding: 10px 20px 1px 20px;
    border-radius: 5px;
}

.filter-page h1 {
    font-size: 16px;
}

.filter-sidenav-page {
    width: 600%;
    margin-left: 30px;
    background-color: rgb(240, 240, 240);
    margin-top: 30px;
    line-height: 1.6;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 100vh;

}

.filter-sidenav-page h1 {
    background-color: rgb(5, 5, 145);
    color: #fff;
    padding-left: 30px;


}

.filter-sidenav-page h2 {
    color: black;
    font-size: 22px;
    margin-left: 25px;
    padding-top: 10px;
}

.filter-sidenav-page a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin-left: 20px;

}

.product-card-button {
    margin-left: 200px;
    border-radius: 50%;
    position: absolute;
    margin-top: 0px;
}




.product-card1{
    position: relative;
}
  
.product-card1 {
    display: flex;
}

.product-card2 {
    display: flex;
    margin-top: 80px;
}

.couple-page a {
    display: flex;
    background: linear-gradient(760deg, rgb(12, 187, 245) 0%, rgb(225, 235, 240) 70%, rgb(244, 246, 247) 100%);
    text-decoration: none;
    position: relative;
    height: 270px;
}

.couple-page {
    z-index: 100;
    margin-top: 30px;
}


.couple-page span {
    position: absolute;
    margin-top: 70px;
    padding-left: 170px;
    font-size: 16px;
    color: rgb(20, 20, 107);
    width: 200px;
    font-weight: 600;

}

.couple-page p {
    position: absolute;
    margin-top: 150px;
    padding-left: 120px;
    font-size: 16px;
    color: rgb(20, 20, 107);
    width: 130px;
    font-weight: 600;

}

.product-card-page img {
    margin: 10px;
    width: 270px;
    height: 200px;
    margin-top: -0px;
}

.product-card-page a {
    text-decoration: none;

}

.cart-page-top {
    border: 1px solid rgb(255, 171, 92);
    width: 220px;
    margin-left: 9px;
    position: relative;
    margin-top: 10px;
    padding: 0px 22px 0px 30px;
    color: rgb(247, 150, 59);
    border-radius: 5px 5px 0px 0px;
    text-align: center;
}

.container-page {
    position: relative;
}

.images {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .10s ease;
    margin-left: 145px;
}

.container-page:hover .overlay {
    opacity: 1;
}

.video-overlay {
    position: absolute;
    top: 56%;
    left: 0;
    width: 270px;

    -webkit-transform: translate(-500%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.overlay-button-page {
    position: absolute;
    margin-top: 150px;
    display: flex;
    width: 500px;
}

.overlay-button-page .btn1-over {
    text-decoration: none;
    font-size: 12px;
    margin-left: -120px;
    border: 1px solid black;
    padding: 5px 10px 5px 5px;
    background-color: #fff;
    color: black;

}

.overlay-button-page .btn2-over {
    text-decoration: none;
    font-size: 12px;
    margin-left: 10px;
    border: 1px solid black;
    padding: 0px 5px 0px 5px;
    background-color: #fff;
    color: black;
}


.price-page h1 {
    font-size: 14px;
    position: absolute;
    margin-left: 30px;
    color: rgb(177, 176, 176);
}

.price-page h2 {
    font-size: 18px;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
    color: black;
}

.store-pusha-page {
    margin-top: 100px;
    background: linear-gradient(990deg, #fff 20%, #fff 60%, rgb(14, 14, 90) 0%);
    margin-left: 30px;
    height: 201px;
}

.store-pusha-page img {
    width: 50%;
    position: relative;
    margin-left: 336px;
    margin-top: -141px;
}

.pusa-content-page {
    color: #fff;
    margin-left: 20px;
    width: 300px;
    padding-top: 20px;

}

.pusa-content-page a {
    color: black;
}


.product-card3 {
    display: flex;
    margin-top: 80px;
}

.product-card4 {
    display: flex;
    margin-top: 80px;
}

.product-card5 {
    display: flex;
    margin-top: 80px;
}

.product-card6 {
    display: flex;
    margin: 100px 0px 100px 0px;

}

.product-card7 {
    margin-bottom: 100px;
}

.video-overlay-page {
    position: absolute;
    top: 67.5%;
    left: 0;
    width: 270px;

    -webkit-transform: translate(-500%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}